@use "@material/theme/color-palette";
@use "@material/theme" with ( 
    $primary: color-palette.$teal-900, 
    $secondary: color-palette.$red-800, 
    $on-primary: #ffffff, 
    $on-secondary: #ffffff, 
    );
@use "material-components-web";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/button";
@use "@material/card";
@use "@material/checkbox";
@use "@material/form-field";
@use "@material/textfield/helper-text";

@include helper-text.helper-text-core-styles;
@include checkbox.core-styles;
@include form-field.core-styles;
@include card.core-styles;
@include button.core-styles;
@include textfield.core-styles;

label {
    margin-bottom: 4px;
}

.mdc-theme--background {
    background-color: #002419
}

.mdc-card {
    @include card.fill-color(white);
}

.mdc-card-content {
    padding: 16px;
}

.form-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}